<h1>Welcome! This is my blog dedicated to reviewing the various art pieces of local artist</h1>
<p>Hello, my name is G. Harlsome, and I am an art critic in the Silas Galaxy. I review local artists from my home galaxy, and our neighbor, Goiania. With this blog, I wish to spread the word about some underappreciated and unknown artists. I hope you enjoy my reviews, and that you give the artists i mention the support that they deserve.</p>
<p>Disclaimer; all the works of art and names of artist are fictional</p>
<%= link_to 'Art reviews', controller: 'articles'%>
